
body {

    margin: 0;
    padding: 0;
    background-color: #990000;

}

td, body {

    font-family: verdana, sans-serif;
    font-size: 8pt;
    color: #cccc99;

}

#liverpool_header {

    border: 0;
    padding: 0;
    border-spacing: 0; /**/
    background-size: cover; /**/
    background-image: url("../Source/hat.jpg");
    height: 205px;
    max-width: 1349px; /*Задаем максимальную ширину*/
    width: 100%; /* Задаем ширину 100%, чтобы сделать ее растягивающейся по всей ширине */

}

#fan_site_logo { /* задаем характеристику заглавной надписи */

    color: white;
    text-shadow: #990000 2px 2px 0; /**/
    font-size: 30pt;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}


#image_1 { /**/

    margin-top: 0;
    margin-left: 0;

}

#image_2 { /**/

    margin-top: 0;
    margin-right: 0;

}

#cell_1 { /**/

    text-align: left;

}

#cell_2 { /**/

    vertical-align: top;
    text-align: center;

}

#cell_3 { /**/

    text-align: right;

}

#cell_1, #cell_3 {

    vertical-align: bottom;

}



#menu {

    display: block; /**/
    background-color: #FFCC99;
    width: 100%;
    height: 16px;
    border-top: 1px solid #990000;
    border-bottom: 1px solid #990000;

}

#menu td {

    font-family: Verdana, sans-serif;
    font-size: 13px;
    padding: 0 5px;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid #990000;
    color: black;

}

#main {

    height: 2462px;
    width: 100%;
    border-spacing: 0;

}

#left_sidebar, #right_sidebar {

    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: 200px;
    background-image: url("../Source/fon2.jpg");

}

.box {

    width: 200px;
    display: block;
    text-align: center;

}

.box h3 {

    width: 200px;
    color: white;
    background-color: #990000;
    padding: 3px;
    font-size: 10pt;
    margin: 2px;
    border-radius: 10px 10px 0 0;

}

.boxContent {

    width: 200px;
    color: black;
    background-color: #FFCC99;
    margin: 2px;
    padding: 3px;
    border-radius: 0 0 10px 10px;

}

.coat_of_arms {

    margin: 10px 0 10px 5px;
    vertical-align: top;
    float: left;

}

hr {

    color: #E44201;
    height: 1px;

}

#menu_list li {

    width: 100%;
    vertical-align: top;
    padding: 0 0 6px 15px;
    background: url("../Source/star.png") no-repeat 0 2px;
    list-style-type: none;

}

#menu_list ul {

    margin: 0;
    padding: 0;

}

.catNumData {

    margin: 0;
    unicode-bidi: embed; /**/
    font-size: 7pt;
    color: #990000;

}

.boxContent #score {

    font-size: 14pt;

}

.boxContent span font {

    color: #ff0000;

}

#calendar {

    margin: auto;

}

td.calMonth {

    text-align: center;

}

a.calMonthLink {

    color: white;

}

td.calWday {

    color: white;
    background: #E44201;
    width: 18px;
    padding: 2px;

}

td.calWdaySe {

    color: white;
    background: #C53E01;
    width: 18px;
    padding: 2px;

}

td.calWdaySu {

    color: white;
    background: #C53E01;
    width: 18px;
    font-weight: bold;

}

td.calMdayIs {

    color: white;
    font-weight: bold;

}

td.calMday {

    color: #FFD3C0;

}

td.calMdayA {

    color: black;
    background: #FFD3C0;
    font-weight: bold;

}

input.loginField {

    width: 100px;

}

input.loginButton {

    font-size: 7pt;
    background: #B93601;
    color: #EBD1B4;
    border: 1px outset #EBD1B4;

}

td.submitRow {

    width: 50%;

}